/Assignments/Assignment2/nbproject/private/
/Assignments/Assignment2/build/
/Assignments/Assignment2/dist/
/Assignments/Assignment3/nbproject/private/
/Assignments/Assignment3/build/
/Assignments/Assignment3/dist/
/Assignments/Assignment4/nbproject/private/
/Assignments/Assignment4/build/
/Assignments/Assignment4/dist/
/Assignments/SpringTest/nbproject/private/
/Assignments/SpringTest/build/
/Assignments/WebApplication1/nbproject/private/
/Assignments/WebApplication1/build/