/Assignments/Assignment2/nbproject/private/
/Assignments/Assignment2/build/
/Assignments/Assignment2/dist/
/Assignments/Assignment3/nbproject/private/
/Assignments/Assignment3/build/
/Assignments/Assignment3/dist/