<component name="libraryTable">
  <library name="Spring-3.2.18.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-core-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-test-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-expression-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-instrument-tomcat-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-orm-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-context-support-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-instrument-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-oxm-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-beans-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-jdbc-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-context-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-tx-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-aop-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-aspects-3.2.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring-3.2.18.RELEASE/spring-jms-3.2.18.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>